<h3>Edit a Comment</h3>

	<%= form_with model: [@article, @comment], remote: true  do |f| %>
		
		<p>
				<%= f.label :body %><br/>
				<%= f.text_area :body %>
		</p>
		
	<%= f.submit 'Submit' %>

<% end %>