
.comment_show_class{
	
		background-color: #ffffff;
	padding: 0px 12px;
	margin-bottom: 28px;
}

.comment_show_class h4{
	
	padding: 8px;
}

.comment_show{
	
	padding: 5px;
}

.comment_body{
	
	padding: 8px;
}


.comment_reply{
	
	margin:	30px 22px;
	padding: 1px 12px;
}

.comment_reply h4{
padding: 1px 12px;	
}

.comment_reply p{
	padding: 1px 12px;
}
.new_reply{
	
	float: right;
	padding: 9px;
}