$primary_color: #AAA;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}



.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}



#content {
  clear: both;
  padding-top: 20px;
}