<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
    <div class="container">
       <%= link_to "Blogger", root_path, class: 'navbar-brand' %>
       <% if controller.action_name != 'index'%>
       		<%= link_to 'Back', 'javascript:history.back()', class: "back_class" %>

       	<%end%>
    </div>
    <div>
    	
    </div>
</nav>