<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
    <div class="container">
       
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
           
            </ul>
        </div>
    </div>
</nav>